@model UI.ViewModels.CountryViewModel
@{
    ViewBag.Title = "Edit Country";
}

<h2>Edit Country</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        <div>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Code, new { @class = "control-label" })
        <div>
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Save</button>
    </div>
}