@model IEnumerable<UI.ViewModels.CountryViewModel>
@{
    ViewBag.Title = "All Countries";
    int count = 1;
}

<h2>All Countries</h2>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">#</th>
            <th>Name</th>
            <th>Code</th>
            <th>Regions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <td width="50">@count</td>
                <td width="20"><a href="#" class="glyphicon glyphicon-trash" data-action="delete" data-uid="@country.Id"></a></td>
                <td width="200">@Html.ActionLink(country.Name, "Edit", new { id = country.Id })</td>
                <td>@country.Code</td>
                <td width="120">@Html.Action("Index", "Region", new { id = country.Id })</td>
            </tr>
            count++;
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Add", "Create", null, new { @class= "btn btn-primary" })
</div>



@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('a[data-action="delete"]').click(function () {
                var bool = confirm('Are you sure you want to delete a record?');
                if (bool) {
                    $.post('/country/delete', { id: $(this).data('uid') }, function (data) {
                        location.reload();
                    });
                }
            });
        });
    </script>
}